<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.CateMapper">

	<select id="catemlist" resultType="com.guem.go.eunbyul.CatemVo">
		select * from cate_m
	</select>
	<select id="catellist" resultType="com.guem.go.eunbyul.CatelVo">
		select * from cate_l
	</select>
	
	<select id="selectcates" resultType="com.guem.go.eunbyul.CatesVo" parameterType="String">
		select * from cate_s where mnum=(select mnum from cate_m where mname=#{name})
	</select>
	<select id="cateslist" resultType="com.guem.go.eunbyul.CatesVo" >
		select * from cate_s
	</select>
	<select id="sfroml" resultType="com.guem.go.eunbyul.CatesVo" parameterType="String">
		select * from cate_s where mnum in (select mnum from cate_m where (select lnum from cate_l where lname=#{lname})=lnum)
	</select>
	<select id="sfromm" resultType="com.guem.go.eunbyul.CatesVo" parameterType="String">
		select * from cate_s where mnum in (select mnum from cate_m where mname=#{mname})
	</select>
	<!-- 고수찾기 카테고리 -->
	<select id="medium" parameterType="int" resultType="com.guem.go.eunbyul.CatemVo">
		select * from cate_m where lnum = #{lnum}
	</select>
	<select id="small" parameterType="int" resultType="com.guem.go.eunbyul.CatesVo">
		select * from cate_s where mnum = #{mnum}
	</select>
</mapper>

