<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.ChatMapper">
	<insert id="insert" parameterType="com.guem.go.kidong.ChatVo">
		insert into gchat values(chat_seq.nextval,#{room},#{msg},sysdate,#{sender},0)
	</insert>
	<select id="list" parameterType="int" resultType="com.guem.go.kidong.ChatVo">
		<![CDATA[ SELECT * FROM gchat WHERE room = #{room} and time >= TO_CHAR(SYSDATE-7,'YYYYMMDD') order by msg_num]]>
	</select>
	<select id="getRoom" parameterType="string" resultType="com.guem.go.kidong.RoomVo">
		select * from room where email = #{email} or other = #{email}
	</select>
	<update id="read" parameterType="map">
		update gchat set read = 1 where room = #{room} and sender != #{sender}
	</update>
	<insert id="makeRoom" parameterType="com.guem.go.kidong.RoomVo">
		insert into room values(room_seq.nextval,#{email},#{other},#{lecturenum})
	</insert>
	<select id="selectRoom" parameterType="com.guem.go.kidong.RoomVo" resultType="int">
		select * from room where email = #{email} and other = #{other} and lecturenum = #{lecturenum} and rownum = 1 
		order by room desc
	</select>
</mapper>  