<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.ClassMapper">
	<select id="classinsert" parameterType="com.guem.go.eunbyul.LectureVo">
		insert into lecture values(lec_seq.nextval, #{lectureName}, #{region1}, #{region2},  #{day}, #{time}, #{go_num}, #{explanation})
	</select>
	<select id="areainsert" parameterType="com.guem.go.eunbyul.GosuareaVo">
		insert into gosu_area values(#{area}, lec_seq.currval)
	</select>
	<select id="gosuselect" resultType="com.guem.go.woohyun.GosuVo"  parameterType="String">
		select * from gosu where email=#{email}
	</select>
	<update id="classdelete" parameterType="int" >
		update lecture set state=1 where lecturenum={lecNum}
	</update>
	<select id="classlist" parameterType="int" resultType="com.guem.go.eunbyul.LectureVo">
		select * from lecture where go_num=#{go_num}
	</select>
	
	<select id="classSelect" parameterType="int" resultType="com.guem.go.eunbyul.LectureVo">
 		select * from lecture where lecturenum = #{lecturenum}
	</select>
	
	<!-- 강의번호로 고수 상세분야 찾기 -->
	<select id="gosuareaselect"  parameterType="int" resultType="com.guem.go.eunbyul.GosuareaVo">
		select * from gosu_area where lecturenum = #{lecturenum} 
	</select>
	<!-- 강의 수정하기 -->
 	<update id="classupdate" parameterType="com.guem.go.eunbyul.LectureVo" >
		update lecture set lectureName=#{lectureName}, region1=#{region1}, region2=#{region2}, day=#{day}, time=#{time}, explanation=#{explanation} where lecturenum=#{lectureNum}
	</update>
	<update id="areaupdate" parameterType="com.guem.go.eunbyul.GosuareaVo">
		update gosu_area set area=#{area} where lecturenum=#{lectureNum}
	</update> 
</mapper>

