<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	2018-11-04	윤우현 파일 생성

 -->
<mapper namespace="com.guem.go.mybatis.GosuMapper">
	
	<!-- 고수가입 -->
	<insert id="insert" parameterType="com.guem.go.woohyun.GosuVo">
	insert all 
		into gosu(go_num, email, intro, grade, employ) values(gonum_seq.nextval, #{email}, #{intro},#{grade},#{employ} )
		<if test=" (license!=null and license!='') or (career!=null and career!='')">	<!-- license 또는 career가 없으면 DB에 넣지 않음 -->
			into gosu_career(go_num, license, career) values(gonum_seq.currval, #{license}, #{career})	<!-- gonum을 위에 gonum_seq와 동일하게 해야함 -->
		</if>
		<if test="image !=null and image !='' ">	<!-- image가 없으면 DB에 넣지 않음 -->
		into gosu_image(go_num, image) values(gonum_seq.currval, #{image})
		</if>
		select * from dual
	</insert>
	<select id="gosuNum" parameterType="String" resultType="int">
		select go_num from gosu where email=#{email}
	</select>
</mapper>