<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.NcommentMapper">
	<select id="getCount" resultType="int" parameterType="int">
		select
		NVL(count(cnum),0) cnt
		from ncomment where num = #{num}
	</select>

	<insert id="insert"
		parameterType="com.guem.go.kidong.NcommentVo">
		insert into ncomment
		values(ncomment_seq.nextval,#{num},#{email},#{content},sysdate)
	</insert>

	<insert id="insertReply"
		parameterType="com.guem.go.kidong.NreplyVo">
		insert into nreply
		values(nreply_seq.nextval,#{cnum},#{email},#{content},sysdate)
	</insert>

	<select id="replys" resultType="com.guem.go.kidong.NreplyVo"
		parameterType="int">
		select num,cnum,email,content,regdate from nreply where cnum = #{cnum}
	</select>

	<select id="list" resultMap="commentMap" parameterType="int">
		select cnum,email,content,regdate
		from ncomment where num = #{num}
	</select>

	<resultMap type="com.guem.go.kidong.CommentsVo" id="commentMap">
		<result property="cnum" column="cnum" />
		<result property="email" column="email" />
		<result property="content" column="content" />
		<result property="regdate" column="regdate" />
		<collection property="comments"
			javaType="java.util.ArrayList" column="cnum" ofType="com.guem.go.kidong.NreplyVo"
			select="replys">
			<result property="num" column="num" />
			<result property="cnum" column="cnum" />
			<result property="email" column="email" />
			<result property="content" column="content" />
			<result property="regdate" column="regdate" />
		</collection>
	</resultMap>

	<select id="getInfo" parameterType="int" resultMap="commentMap">
		select * from ncomment where num = #{num}
	</select>


	<update id="update"
		parameterType="com.guem.go.kidong.NcommentVo">
		update ncomment set
		title=#{title}, content=#{content}
		where cnum=#{cnum}
	</update>

	<delete id="delete" parameterType="int">
		delete from ncomment where
		cnum = #{cnum}
	</delete>

	<delete id="deleteReply" parameterType="int">
		delete from nreply where
		num =
		#{num}
	</delete>
</mapper>