<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.OnclassMapper">
	<select id="select_onreq" parameterType="String" resultType="com.guem.go.eunbyul.RequireVo">
		select * from require where req_start>0 and email=#{email};
	</select>
	
</mapper>

