<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.ScheduleMapper">	
	<insert id="scheduleInsert" parameterType="com.guem.go.minsu.ScheduleVo">
		insert into schedule values(#{scheduleNum}, #{email}, #{other}, #{lectureNum}, #{matchNum}, #{lecturename})
	</insert>
	<select id="scheduleNum" resultType="int">
		<!-- select sche_seq.currval from dual -->
		select max(scheduleNum) from schedule
	</select>
	<select id="schelist" parameterType="String" resultType="com.guem.go.minsu.ScheduleVo">
		select * from schedule where email=#{email} 
	</select>
	<select id="userschelist" parameterType="String" resultType="com.guem.go.minsu.ScheduleVo">
		select * from schedule where other=#{other}
	</select>
	<delete id="schedelete" parameterType="int">
		delete from schedule where scheduleNum=#{scheduleNum}
	</delete>
	<select id="isschedule" resultType="com.guem.go.minsu.ScheduleVo" parameterType="hashmap">
		select * from schedule where email=#{email} and other=#{other} and lectureNum=#{lectureNum}
	</select>
</mapper>