<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.ScheduleMapper">	
	<select id="insert" parameterType="com.guem.go.minsu.ScheduleVo">
		insert into schedule values(sche_seq.nextval, #{email}, #{other}, #{num}, #{matchNum}, #{lecturename})
	</select>
	<select id="scheduleNum" resultType="int">
		select max(scheduleNum) from schedule
	</select>
	<select id="schelist" parameterType="String" resultType="com.guem.go.minsu.ScheduleVo">
		select * from schedule where email=#{email} 
	</select>
	<select id="schedelete" parameterType="int">
		delete from schedule where scheduleNum=#{scheduleNum}
	</select>
</mapper>






