<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.Sche_detailMapper">
	<insert id="insert" parameterType="com.guem.go.minsu.Sche_detailVo">
		insert into sche_detail values(#{num}, #{scheduleNum}, #{memo}, #{sDate}, #{eDate}, 0, #{lecturename})
	</insert>
	<select id="detailNum" resultType="int">
		<!-- select schedetail_seq.nextval from dual -->
		select max(num) from sche_detail
	</select>
	<select id="sche_detail" parameterType="int" resultType="com.guem.go.minsu.Sche_detailVo">
		select * from sche_detail where Num=#{Num}
	</select>
	<update id="detailUpdate" parameterType="com.guem.go.minsu.Sche_detailVo">
		update sche_detail set memo=#{memo}, sDate=#{sDate}, eDate=#{eDate}, attendance=#{attendance} 
		where Num=#{Num}
	</update>
	<select id="sche_detailList" parameterType="int" resultType="com.guem.go.minsu.Sche_detailVo">
		select * from sche_detail where Num=#{Num}
	</select>
	<delete id="all_detailDelete" parameterType="int">
		delete from sche_detail where Num=#{Num}
	</delete>
	<delete id="sche_detailDelete" parameterType="int">
		delete from sche_detail where Num=#{Num}
	</delete>
</mapper>






