<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guem.go.mybatis.SurveyMapper">
	<select id="requireInsert" parameterType="com.guem.go.eunbyul.RequireVo">
		insert into require values(matchnum_seq.nextval, #{email}, 0, #{mnum}, sysdate)
	</select>
	<select id="ansinsert" parameterType="com.guem.go.eunbyul.AnswerVo">
		insert into answer values(ansnum_seq.nextval,matchnum_seq.currval, #{ques_num}, #{answer})
	</select>
	<select id="selectcatem" resultType="com.guem.go.eunbyul.CatemVo" parameterType="String">
		select * from cate_m where mnum=(select mnum from cate_s where sname=#{name})
	</select>
	<select id="selectcates" resultType="com.guem.go.eunbyul.CatesVo" parameterType="String">
		select * from cate_s where mnum=(select mnum from cate_m where mname=#{name})
	</select>
	<select id="quelist" resultType="com.guem.go.eunbyul.QuestionVo">
		select * from question
	</select>
	<select id="exlist" resultType="com.guem.go.eunbyul.ExampleVo">
		select * from example
	</select>
	<select id="gosuarealist" resultType="com.guem.go.eunbyul.GosuareaVo" >
		select * from gosu_area
	</select>
	<select id="selectlec" resultType="com.guem.go.eunbyul.LectureVo" parameterType="int" >
		select * from lecture where lectureNum = #{lectureNum}
	</select>
	<select id="selectgosu" resultType="com.guem.go.woohyun.GosuVo" parameterType="int" >
		select * from gosu where go_num = #{go_num}
	</select>
	<!-- 누구에게 어떤 요청서를 보냈는지 저장(insert)하기 -->
	<select id="requestinsert" parameterType="hashmap">
		insert into REQUIRELIST values(REQLISTNUM_seq.nextval, #{email}, sysdate, matchnum_seq.currval, #{lecturenum}, 0 )
	</select>
	<!-- 받은요청내역 -->
	<select id="requestlist" parameterType="String" resultType="com.guem.go.eunbyul.RequirelistVo">
		select * from REQUIRELIST where email=#{email}
	</select>
	<select id="requireselect" parameterType="int" resultType="com.guem.go.eunbyul.RequireVo">
		select * from require where REQ_NUM=#{num}
	</select>
	<select id="lectureselect" parameterType="String" resultType="com.guem.go.eunbyul.LectureVo">
		select * from lecture where LECTURENAME=#{lecturename}
	</select>
	<!-- 보낸요청내역 -->
	<select id="requirelist" parameterType="String" resultType="com.guem.go.eunbyul.RequireVo">
		select * from require where email=#{email}
	</select>
	<select id="answer" parameterType="int" resultType="com.guem.go.eunbyul.AnswerVo">
		select * from answer where req_num=#{num}
	</select>
	<update id="requiredelete" parameterType="int">
		update require set LEC_START=3 where req_num=#{num}
	</update>
	<!-- 요청서 상태 업데이트 -->
	<update id="requpdate" parameterType="int">
		update require set lec_start=1 where req_num=#{req_num}
	</update>
	<update id="reqlistupdate" parameterType="hashmap">
		update requirelist set state=1 where req_num=#{req_num} and lecturenum=#{lectureNum}
	</update>
	
	<select id="totalRequire" resultType="int">
		select count(*) from require
	</select>
</mapper>

